
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a   class="navbar-brand" href="#">ThinkbridgeProject</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
   
      
    </div>  
    <form class="form-inline my-2 my-lg-0">
    
     <ul>
      <li class="nav-item dropdown down" *ngIf="message">
        <p   class="nav-link dropdown-toggle colss" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{message}}
        </p>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  (click)="openDialog()">log Out</a>
         
        </div>
      </li>
     </ul>
    </form>
  </nav>
  <br>